.container {
	background-color: #ebebeb;
	padding-right: 0.25%x;
	padding-left: 0.25%;
	padding-top: 4px;
}

.header {
  background: #00b1be;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  padding-left: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 99.75%;
}


.dash {
  padding-left: 45px;
  height: 35px;
  width: 100%;
  line-height: 35px;
  vertical-align: middle;
}

.flex .flex-h {
  width: 99.75%
}

.dash input[type="submit"] {
  padding: 1px 1.2em;
  height: 37px;
  border-radius: 4px;
  border: 1px solid #eee;
  font-size: 12px;
  margin-left: 5px;
  background-color: #006e74;
  border-color: #25868c;
  color: #fff;
  font-weight: 550;
  width: 15%;
}

body {
  font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;

}

.dash textarea, input[type="text"] {
  padding: 1px 1.2em;
  height: 37px;
  border-radius: 4px;
  width: 20%;
  border: 1px solid #eee;
  font-size: 12px;
  margin-left: 10px;
  background-color: #7fccd5;
  border-color: #5dbec4;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.dash .url {
  width: 30%;
}

button, input, select {
      font-size: 100%;
          margin: 0;
              vertical-align: baseline;
            }
